<h2 class='ui center aligned header' id='login-header'> Welcome to Weaver - a complete Chat App</h3>

<h2 class="ui center aligned small icon header">
  <i class="circular purple power off icon"></i>
  Log in to continue
</h2>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui purple submit button">Login</div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="purple ui big button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>